////////////////////////
// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here
////////////////////////

/** LYBE: Björn [Callout] **/
.support-us {
	display: block;
    margin-bottom: 1.7em;
    padding: 1em;
    background-color: skyblue;
    width: 100%;
    text-align: center;
    border: 3px solid #333;
}