/* =============================================================================
   Navigation bars
   ========================================================================== */

.navigation {
  list-style: none;
  margin-left: 0;
}
.navigation ul,
.navigation ol {
	padding: 0;
	margin: 0;
}
.navigation li {
  display: inline;
}
.navigation a {
  display: inline-block;
  text-decoration: none;
}


/* Main menu
   ========================================================================== */